name: CI for Renovate

on:
  pull_request:
    paths:
      - .github/workflows/ci-renovate.yaml
      - renovate.json5

permissions:
  contents: read

jobs:
  validate-renovate-config:
    name: Validate config
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0

      - uses: actions/setup-node@v4
        with:
          node-version-file: .tool-versions
          cache: 'pnpm'

      - run: pnpm install --frozen-lockfile

      - run: pnpm run lint:renovate-config-validator
