name: CI for Zenn

on:
  pull_request:

permissions:
  contents: read
  pull-requests: write

env:
  # deno が package.json にあるパッケージを deno.lock で管理しようとするのを防ぐ
  # ref: https://github.com/denoland/deno/issues/17916
  DENO_NO_PACKAGE_JSON: 1

jobs:
  validate-zenn-metadata:
    name: Validate metadata
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2  # Because if `fetch-depth >= 2` is not set, unchanged files will be updated.
      - uses: korosuke613/zenn-metadata-updater-action@v3
        with:
          validate-only: true

  check-duplicate-emoji:
    name: Check duplicate emoji
    runs-on: ubuntu-latest
    steps:
      # actions-permissions/monitor is disabled,
      # because due to certificate errors.
      # https://zenn.dev/link/comments/876fc6120021a7
      # - uses: GitHubSecurityLab/actions-permissions/monitor@v1

      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Fetch main branch
        run: |
          git fetch origin main:main

      - uses: ./.github/actions/setup-deno

      - run: |
          deno run --allow-read --allow-run=git,grep ./tools/checkDuplicateEmoji.ts

  textlint:
    name: Check textlint
    runs-on: ubuntu-latest
    env:
      ARTICLES_PATH: articles
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2  # Because if `fetch-depth >= 2` is not set, unchanged files will be updated.

      - uses: tj-actions/changed-files@c65cd883420fd2eb864698a825fc4162dd94482c # v44.5.7
        id: changed-files-yaml
        with:
          files_yaml: |
            md:
              - '${{ env.ARTICLES_PATH }}/**/*.md'

      - name: Changed files
        if: steps.changed-files-yaml.outputs.md_any_changed == 'true'
        env:
          CHANGED_FILES: ${{ steps.changed-files-yaml.outputs.md_all_changed_files }}
        run: |
          echo ${{ env.CHANGED_FILES }}

      - name: Install pnpm
        if: steps.changed-files-yaml.outputs.md_any_changed == 'true'
        uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0

      - uses: actions/setup-node@v4
        if: steps.changed-files-yaml.outputs.md_any_changed == 'true'
        with:
          node-version-file: .tool-versions
          cache: 'pnpm'

      - if: steps.changed-files-yaml.outputs.md_any_changed == 'true'
        run: pnpm install --frozen-lockfile

      - if: steps.changed-files-yaml.outputs.md_any_changed == 'true'
        uses: tsuyoshicho/action-textlint@689c87690ef3b954b5039bcb15589863c9e021a1 # v3.11.1
        with:
          github_token: ${{ secrets.github_token }}
          package_manager: 'pnpm'
          textlint_flags: ${{ steps.changed-files-yaml.outputs.md_all_changed_files }}
